div {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}
span {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    display: inline-block;
}